name: Test Action

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened

jobs:
  ticket-in-title:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test if CODE in PR title
      uses: ./
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ticket-prefix: CODE
        fail: false
